[D-BUS Service]
Name=com.ventouxlabs.Gatepath.NetNsHelper
Exec=/usr/libexec/gatepath-netns-helper
User=root
SystemdService=gatepath-netns-helper.service
